/**************** RESPONSIVE *********************/
$xs: 576px;
$sm: 768px;
$md: 992px;
$lg: 1200px;
$mobile-landscape: 480px;
$tablet-landscape: 1024px;
/**************** /RESPONSIVE *********************/



/********* FONTS ***********/
$font-Roboto: 'Roboto', serif, sans-serif;
$font-Mont: 'Montserrat', $font-Roboto;
$font-Mont-Light: 'Montserrat-Light','Montserrat', $font-Roboto;
$font-Mont-Regular: 'Montserrat-Regular','Montserrat', $font-Roboto;
$font-Mont-Bold: 'Montserrat-Bold','Montserrat', $font-Roboto;
/********* /FONTS ***********/